@{
    @*Récupère l'url *@
    var currentUrl = ViewContext.HttpContext.Request.Path;
}
@*Gère ce que le menu affiche*@
<nav>
    <ul>
        @if (currentUrl != "/Home/Index" || currentUrl == "")
        {
            <li>
                <a href="/Home/Index">Accueil</a>
            </li>
        }
          
        
        @if (currentUrl != "/Home/Index/Form" && currentUrl != "/Home/SubmitForm")
        {
            <li>
                <a href="/Home/Index/Form">Remplir le formulaire</a>
            </li>
        }
        @if (currentUrl != "/Home/Index/AvisList")
        {
            <li>
                <a href="/Home/Index/AvisList">Liste des avis</a>
            </li>
        }  
        
    </ul>
</nav>

