<! DOCTYPE html>
<html>


	<head>
		<title>HN - TP LOCAL</title>
		<link rel="stylesheet" href="~/resources/Index.css" />
	</head>


<body>
	@*@Html.Partial("_EnTête")*@
	<header>
		<img src="~/resources/GroupeHN.png" class="image" alt="GroupeHN" />
		<h1> Bienvenue dans le TP HN </h1>
	</header>
	@Html.Partial("_Menu")

	<section>
		<p>
			<a href="/Home/Index/Form">Remplir le formulaire </a> @*Est gardé pour respecté annexe 1*@
		</p>
	</section>
</body>


</html>